<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
  </configSections>

  <appSettings>
    <!-- TODO: Replace with your real Oracle connection details -->
    <!-- Example Data Source: (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) -->



    <add key="OracleDataSource" value="localhost:1521/XE" />
    <add key="OracleUser" value="system" />
    <add key="OraclePassword" value="24BIT0307" />
  </appSettings>

  <connectionStrings>
    <add name="CanteenDB"
         connectionString="Data Source=localhost:1521/XE;User Id=system;Password=24BIT0307;"
         providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />

    <pages>
      <namespaces>
        <add namespace="System" />
        <add namespace="System.Collections.Generic" />
        <add namespace="System.Linq" />
        <add namespace="System.Web" />
        <add namespace="System.Web.UI" />
        <add namespace="System.Web.UI.WebControls" />
        <add namespace="System.Web.UI.HtmlControls" />
      </namespaces>
    </pages>

    <authentication mode="Forms">
      <forms loginUrl="~/Login.aspx" timeout="30" />
    </authentication>

    <sessionState mode="InProc" timeout="30" />

    <httpRuntime targetFramework="4.7.2" executionTimeout="110" maxRequestLength="1048576" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>


</configuration>

